In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df = pd.read_csv("data/essays.csv", encoding='latin-1')

In [3]:
df.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN
0,1997_504851.txt,"Well, right now I just woke up from a mid-day ...",n,y,y,n,y
1,1997_605191.txt,"Well, here we go with the stream of consciousn...",n,n,y,n,n
2,1997_687252.txt,An open keyboard and buttons to push. The thin...,n,y,n,y,y
3,1997_568848.txt,I can't believe it! It's really happening! M...,y,n,y,y,n
4,1997_688160.txt,"Well, here I go with the good old stream of co...",y,n,y,n,y

In [4]:
mapping = {'y': 1, 'n': 0}

df[['cEXT','cNEU','cAGR','cCON','cOPN']] = df[['cEXT','cNEU','cAGR','cCON','cOPN']].replace(mapping)

In [5]:
df.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN
0,1997_504851.txt,"Well, right now I just woke up from a mid-day ...",0,1,1,0,1
1,1997_605191.txt,"Well, here we go with the stream of consciousn...",0,0,1,0,0
2,1997_687252.txt,An open keyboard and buttons to push. The thin...,0,1,0,1,1
3,1997_568848.txt,I can't believe it! It's really happening! M...,1,0,1,1,0
4,1997_688160.txt,"Well, here I go with the good old stream of co...",1,0,1,0,1

In [6]:
#!python -m spacy download en

import spacy
import string
import re
from spacy.lang.en.stop_words import STOP_WORDS

nlp = spacy.load('en_core_web_sm')

def tokenize(text):
    doc = nlp(text)
    tokens = [token.text for token in doc]
    return tokens

In [10]:
def remove_punctuation(text):
    no_punct = "".join([c for c in text if c not in string.punctuation])
    return no_punct

def remove_numbers(text):
    return re.sub('[0-9]+', '', text)

In [11]:
df['TEXT'] = df['TEXT'].str.lower()
df.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN
0,1997_504851.txt,"well, right now i just woke up from a mid-day ...",0,1,1,0,1
1,1997_605191.txt,"well, here we go with the stream of consciousn...",0,0,1,0,0
2,1997_687252.txt,an open keyboard and buttons to push. the thin...,0,1,0,1,1
3,1997_568848.txt,i can't believe it! it's really happening! m...,1,0,1,1,0
4,1997_688160.txt,"well, here i go with the good old stream of co...",1,0,1,0,1

In [12]:
df['TEXT'] = df['TEXT'].apply(remove_punctuation)
df.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN
0,1997_504851.txt,well right now i just woke up from a midday na...,0,1,1,0,1
1,1997_605191.txt,well here we go with the stream of consciousne...,0,0,1,0,0
2,1997_687252.txt,an open keyboard and buttons to push the thing...,0,1,0,1,1
3,1997_568848.txt,i cant believe it its really happening my pu...,1,0,1,1,0
4,1997_688160.txt,well here i go with the good old stream of con...,1,0,1,0,1

In [13]:
df['TEXT'] = df['TEXT'].apply(remove_numbers)
df.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN
0,1997_504851.txt,well right now i just woke up from a midday na...,0,1,1,0,1
1,1997_605191.txt,well here we go with the stream of consciousne...,0,0,1,0,0
2,1997_687252.txt,an open keyboard and buttons to push the thing...,0,1,0,1,1
3,1997_568848.txt,i cant believe it its really happening my pu...,1,0,1,1,0
4,1997_688160.txt,well here i go with the good old stream of con...,1,0,1,0,1

In [14]:
def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if token.lower() not in STOP_WORDS]
    return filtered_tokens

def lemmatizer(text):
    document = nlp(text)
    lemmas = [token.lemma_ for token in document]
    return lemmas

In [15]:
#df['TEXT'] = df['TEXT'].apply(tokenize)
#df.head()

#df['TEXT'] = df['TEXT'].apply(lemmatizer)
#df.head()

In [16]:
#df['TEXT'] = df['TEXT'].apply(remove_stopwords)
#df.head()

In [17]:
def remove_empty(tokens):
    filtered_tokens = [token for token in tokens if token != " "]
    return filtered_tokens

In [18]:
#df['TEXT'] = df['TEXT'].apply(remove_empty)
#df.head()

In [19]:
def ngrams(sequence, n, **kwargs):
    ngrams = []
    sequence_length = len(sequence)
    for i in range(sequence_length):
        if sequence_length >= i + n:
            seq = (sequence[i])
            for k in range(n-1):
                seq = (seq, sequence[i+k+1])
            ngrams.append(seq)
    return ngrams

In [20]:
def clean_text(text):
    lines = text.split("\n")
    lines.pop(0)  
    return re.sub("[\t ]{2,}", " ", " ".join(lines))

In [21]:
def lemmatize_pipe(doc, max_len=100, ngram_min=1, ngram_max=2):
    document = nlp(doc)
    
    lemmas = []
    for token in document:
        if not token.is_stop:
            lemmas.append(token.lemma_)
    lemmas = lemmas[:max_len]
    len_lemmas = len(lemmas)

    ngrams = []
    for n in range(ngram_min, ngram_max + 1):
        for i in range(len_lemmas - n + 1):
            ngrams.append(tuple(lemmas[i:i+n]))

    return ngrams

In [22]:
df['LEMMA'] = df['TEXT'].apply(lemmatize_pipe)
df.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN,LEMMA
0,1997_504851.txt,well right now i just woke up from a midday na...,0,1,1,0,1,"[(right,), (wake,), (midday,), (nap,), (sort,)..."
1,1997_605191.txt,well here we go with the stream of consciousne...,0,0,1,0,0,"[(stream,), (consciousness,), (essay,), (thing..."
2,1997_687252.txt,an open keyboard and buttons to push the thing...,0,1,0,1,1,"[(open,), (keyboard,), (button,), (push,), (th..."
3,1997_568848.txt,i cant believe it its really happening my pu...,1,0,1,1,0,"[(not,), (believe,), ( ,), (happen,), ( ,), (p..."
4,1997_688160.txt,well here i go with the good old stream of con...,1,0,1,0,1,"[(good,), (old,), (stream,), (consciousness,),..."

In [25]:
#!pip install scikit-learn

from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(
    df[['LEMMA', 'cEXT','cNEU','cAGR','cCON','cOPN']], test_size=0.2, random_state=42
)

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

count_vectorizer = CountVectorizer(tokenizer=lambda doc: doc, lowercase=False, min_df=3)
tfidf_vectorizer = TfidfVectorizer(tokenizer=lambda doc: doc, lowercase=False, min_df=3)

In [27]:
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.multioutput import ClassifierChain
from sklearn.ensemble import RandomForestClassifier

X_train = count_vectorizer.fit_transform(df_train['LEMMA'])
y_train = df_train[['cEXT','cNEU','cAGR','cCON','cOPN']]

X_test = count_vectorizer.transform(df_test['LEMMA'])
y_test = df_test[['cEXT','cNEU','cAGR','cCON','cOPN']]

model = ClassifierChain(RandomForestClassifier())
model.fit(X_train, y_train)

prediction = model.predict(X_test)

/Users/ivaaamaric/opt/anaconda3/envs/iva132/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [28]:
from sklearn.metrics import f1_score

f1_macro = f1_score(y_test, prediction, average='macro')

In [29]:
f1_macro

0.6030656959880016

In [30]:
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.multioutput import ClassifierChain
from sklearn.ensemble import RandomForestClassifier

X_train2 = tfidf_vectorizer.fit_transform(df_train['LEMMA'])
y_train2 = df_train[['cEXT','cNEU','cAGR','cCON','cOPN']]

X_test2 = tfidf_vectorizer.transform(df_test['LEMMA'])
y_test2 = df_test[['cEXT','cNEU','cAGR','cCON','cOPN']]

model = ClassifierChain(RandomForestClassifier())
model.fit(X_train2, y_train2)

prediction = model.predict(X_test2)
f1_macro = f1_score(y_test2, prediction, average='macro')
f1_macro

/Users/ivaaamaric/opt/anaconda3/envs/iva132/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

0.5757489105644231

In [35]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC

#LogisticRegression instead of SVC - worse f1
models = [OneVsRestClassifier(SVC()) for _ in range(5)]
i = 0
for j in ['cEXT','cNEU','cAGR','cCON','cOPN']:
    models[i].fit(X_train, y_train[j])
    i = i + 1

predictions = [model.predict(X_test) for model in models]

In [36]:
import numpy as np

predictions = np.array(predictions)
predictions = predictions.T

predictions.shape

(494, 5)

In [37]:
f1_macro = f1_score(y_test, predictions, average='macro')
f1_macro

0.5949874765360368

In [53]:
#f1_macro = f1_score(y_test['cEXT'], predictions[0], average='macro')
predictions2 = np.array(predictions)
predictions2 = predictions2.T

f1_macro = f1_score(y_test['cEXT'], predictions2[0], average='macro')
f1_macro

0.5027978544949987

In [54]:
f1_macro = f1_score(y_test['cNEU'], predictions2[1], average='macro')
f1_macro

0.5686827488676192

In [55]:
f1_macro = f1_score(y_test['cAGR'], predictions2[2], average='macro')
f1_macro

0.513242862640453

In [56]:
f1_macro = f1_score(y_test['cCON'], predictions2[3], average='macro')
f1_macro

0.5998355229342709

In [57]:
f1_macro = f1_score(y_test['cOPN'], predictions2[4], average='macro')
f1_macro

0.585931532245744

In [58]:
# from sklearn.svm import SVC

# vectorizer = TfidfVectorizer()
# X_train_tfidf = vectorizer.fit_transform(X_train)
# X_test_tfidf = vectorizer.transform(X_test)

# model = OneVsRestClassifier(SVC())

# classifier.fit(X_train_tfidf, y_train)

# y_pred = classifier.predict(X_test_tfidf)
# f1_macro = f1_score(y_test, y_pred, average='macro')
# f1_macro

In [ ]:
from transformers import GPT2Tokenizer, TFGPT2Model
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

tokenizer = GPT2Tokenizer.from_pretrained('gpt2')
gpt_model = TFGPT2Model.from_pretrained('gpt2')

input_ids = []
for text in df_train['LEMMA']:
    encoded = tokenizer.encode(text, truncation=True, max_length=200, padding='max_length')
    input_ids.append(encoded)
input_ids = tf.constant(input_ids)

input_layer = Input(shape=(200,), dtype=tf.int32)
gpt_output = gpt_model(input_layer)[0]
output_layer = Dense(5, activation='sigmoid')(gpt_output[:, -1, :])
model = Model(inputs=input_layer, outputs=output_layer)

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(input_ids, df_train[['cEXT','cNEU','cAGR','cCON','cOPN']], epochs=10, batch_size=32)

encoded_test = tokenizer.encode(df_test['LEMMA'], truncation=True, max_length=200, padding='max_length')
test_input_ids = tf.constant(encoded_test)
model.evaluate(test_input_ids, df_test[['cEXT','cNEU','cAGR','cCON','cOPN']])

new_data = X_test
encoded_new = tokenizer.encode(new_data, truncation=True, max_length=200, padding='max_length')
new_input_ids = tf.constant(encoded_new)
predictions = model.predict(new_input_ids)